{{/* genops.Options */}}
import (
	com "github.com/mus-format/common-go"
	{{- if .Stream }}
		"github.com/mus-format/mus-stream-go"
		"github.com/mus-format/mus-stream-go/ord"
		"github.com/mus-format/mus-stream-go/raw"
		"github.com/mus-format/mus-stream-go/unsafe"
		"github.com/mus-format/mus-stream-go/varint"
		"github.com/mus-format/mus-stream-go/typed"
		arropts "github.com/mus-format/mus-stream-go/options/array"
		bslopts "github.com/mus-format/mus-stream-go/options/byte_slice"
		mapopts "github.com/mus-format/mus-stream-go/options/map"
		slopts "github.com/mus-format/mus-stream-go/options/slice"
		stropts "github.com/mus-format/mus-stream-go/options/string"
	{{- else }}
		"github.com/mus-format/mus-go"
		"github.com/mus-format/mus-go/ord"
		"github.com/mus-format/mus-go/raw"
		"github.com/mus-format/mus-go/unsafe"
		"github.com/mus-format/mus-go/varint"
		"github.com/mus-format/mus-go/typed"
		arropts "github.com/mus-format/mus-go/options/array"
		bslopts "github.com/mus-format/mus-go/options/byte_slice"
		mapopts "github.com/mus-format/mus-go/options/map"
		slopts "github.com/mus-format/mus-go/options/slice"
		stropts "github.com/mus-format/mus-go/options/string"
	{{- end }}
	{{- if .Imports }}
		{{- range $i, $imp := .Imports }}
			{{ $imp }}
		{{- end }}
	{{- end }}
)
