{{/* spec.InterfaceType */}}
{{- $v := Ser.Val . }}
{{- if .Iops.Marshaller }}
	if m, ok := {{ $v }}.(mus.MarshallerTyped); ok {
		return m.SizeTypedMUS()
	}
	panic(fmt.Sprintf("%v doesn't implement the mus.MarshallerTyped interface", reflect.TypeOf({{ $v }})))
{{- else }}
	switch t := {{ $v }}.(type) {
	{{- range $e := .Impls }}
		case {{ Ser.RelName $e }}:
			return {{ Ser.TypedVar $e }}.Size(t)
	{{- end }}
		default:
			panic(fmt.Sprintf(com.ErrorPrefix+"unexpected %v type", t))
	}
{{- end }}
