{{/* data.TypeData */}}
{{- $v := Ser.Val . }}
{{- $mlp := Tmpl.MarshalLastParam true .Gops }}
{{- if .Iops.Marshaller }}
	if m, ok := {{ $v }}.(mus.MarshallerTyped); ok {
		return m.MarshalTypedMUS({{ $mlp }})
	}
	panic(fmt.Sprintf("%v doesn't implement the mus.MarshallerTyped interface", reflect.TypeOf({{ $v }})))
{{- else }}
	switch t := {{ $v }}.(type) {
		{{- range $e := .Impls }}
			case {{ Ser.RelName $e }}:
				return {{ Ser.TypedVar $e }}.Marshal(t, {{ $mlp }})
		{{- end }}
			default:
				panic(fmt.Sprintf(com.ErrorPrefix+"unexpected %v type", t))
	}
{{- end }}
