{{/* spec.StructType */}}
{{- $v := Ser.Val . }}
{{- $serVar := Ser.Var .FullName }}
{{- $serType := Ser.Type .FullName }}
{{- $Type := Ser.RelName .FullName }}
{{- $mslp := Tmpl.MarshalSignatureLastParam .Gops }}
{{- $uslp := Tmpl.UnmarshalSignatureLastParam .Gops }}
{{- $td := . }}

var {{ $serVar }} = {{ $serType }}{}

type {{ $serType }} struct{}

func (s {{ $serType }}) Marshal({{ $v }} {{ $Type }}, {{ $mslp }}) (n int {{ if .Gops.Stream }} , err error {{ end }}) {
	{{- if eq (len .SerializedFields) 0}}
		return
	{{- else }}
		{{- range $i, $f := .SerializedFields }}
			{{- Tmpl.Include "field_marshal.tmpl" (Ser.FieldTmplPipe $td $f $i .Gops) }}		
		{{- end }}
	{{- end }}
}

func (s {{ $serType }}) Unmarshal({{ $uslp }}) ({{ $v }} {{ $Type }}, n int, err error) {
	{{- range $i, $f := .SerializedFields }}
		{{- Tmpl.Include "field_unmarshal.tmpl" (Ser.FieldTmplPipe $td $f $i .Gops) }}		
	{{- end }}
  {{- if ne .Sops.Validator "" }}
	  if err != nil {
			return
		}
    err = {{ .Sops.Validator }}({{ $v }})
  {{- end }}
	return
}

func (s {{ $serType }}) Size({{ $v }} {{ $Type }}) (size int) {
	{{- if eq (len .Fields) 0}}
		return
	{{- else }}
		{{- range $i, $f := .SerializedFields }}
			{{- Tmpl.Include "field_size.tmpl" (Ser.FieldTmplPipe $td $f $i .Gops) }}		
		{{- end }}
	{{- end }}
}

func (s {{ $serType }}) Skip({{ $uslp }}) (n int, err error) {
	{{- range $i, $f := .SerializedFields }}
		{{- Tmpl.Include "field_skip.tmpl" (Ser.FieldTmplPipe $td $f $i .Gops) }}		
	{{- end }}
	return
}