{{/* spec.InterfaceType */}}
{{- $serVar := Ser.Var .FullName }}
{{- $serType := Ser.Type .FullName }}
{{- $v := Ser.Val . }}
{{- $type := Ser.RelName .FullName }}
{{- $mslp := Tmpl.MarshalSignatureLastParam .Gops }}
{{- $uslp := Tmpl.UnmarshalSignatureLastParam .Gops }}

var {{ $serVar }} = {{ $serType }}{}

type {{ $serType }} struct{}

func (s {{ $serType }}) Marshal({{ $v }} {{ $type }}, {{ $mslp }}) (n int {{ if .Gops.Stream }} , err error {{ end }}) {
	{{- Tmpl.Include "interface_marshal.tmpl" . -}}
}

func (s {{ $serType }}) Unmarshal({{ $uslp }}) ({{ $v }} {{ $type }}, n int, err error) {
	{{- Tmpl.Include "interface_unmarshal.tmpl" . -}}
}

func (s {{ $serType }}) Size({{ $v }} {{ $type }}) (size int) {
	{{- Tmpl.Include "interface_size.tmpl" . -}}
}

func (s {{ $serType }}) Skip({{ $uslp }}) (n int, err error) {
	{{- Tmpl.Include "interface_skip.tmpl" . -}}
}
