{{/* spec.VersionedType */}}
{{- $val := Ser.Val . }}
{{- $curr := "" }}
{{- range $i, $e := .Versions }}
    {{- $vopt := index $.Vops.Versions $i }}
    {{- if eq $vopt.Migration "" }}
        {{- $curr = $e }}
    {{- end }}
{{- end }}
return {{ Ser.TypedVar $curr }}.Size({{ Ser.RelName $curr }}({{ $val }}))