{{/* spec.VersionedType */}}
{{- $fulp := Tmpl.UnmarshalLastParam true .Gops }}
{{- $ulp := Tmpl.UnmarshalLastParam false .Gops }}
dtm, n, err := typed.DTMSer.Unmarshal({{ $fulp }})
if err != nil {
	return
}
var n1 int
switch dtm {
{{- range $i, $e := .Versions }}
	case {{ Ser.DTMVar $e }}:
		n1, err = {{ Ser.TypedVar $e }}.SkipData({{ $ulp }})
{{- end }}
	default:
		err = com.NewUnexpectedDTMError(dtm)
		return
}
n += n1
return